@model OgrenciNotMvc.Models.EntityFramework.TBLOGRENCILER
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:10px">
        <label>Öğrenci Adı:</label><input type="text" class="form-control" name="OGRAD" /><!-- entity de bulunan ders adı ile name aynı olmalı-->
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Soyadı:</label><input type="text" class="form-control" name="OGRSOYAD" /><!-- entity de bulunan ders adı ile name aynı olmalı-->
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Foto:</label><input type="text" class="form-control" name="OGRFOTO" /><!-- entity de bulunan ders adı ile name aynı olmalı-->
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Cinsiyet:</label><input type="text" class="form-control" name="OGRCINSIYET" /><!-- entity de bulunan ders adı ile name aynı olmalı-->
    </div>
    
    <div style="margin-top:10px">
        <label>Öğrenci Kulüp:</label>
         @Html.DropDownListFor(m=> m.TBLKULUPLER.KULUPID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info" >Öğrenci Ekle</button>

    </div>
</form>

